/* ESTILOS PROPIOS */
#contenido {
  display: none;
}

#footer {
  background-color: black;
}

.social-icons a {
  color: #000; /* Color por defecto */
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
}

.social-icons a.facebook {
  color: #3b5998;
}

.social-icons a.envelope {
  color: #ffffff;
}

.social-icons a.instagram {
  color: #e4405f;
}

.social-icons a.whatsapp {
  color: #05d621;
}

.social-icons a:hover {
  opacity: 0.8;
  transform: scale(1.5);
}

.carousel-inner img {
  width: max-content;
  max-height: 600px;
  opacity: 0.9;
  border-radius: 25px;
  border: 1px solid gray;
}

.carousel-inner p {
  font-size: 25px;
}

.carousel-inner {
  height: 600px;
}

#header {
  width: 100%;
}